# Numbers

In [10]:
edad = 30
pi = 3.14
salario = 1500.50
print(edad, pi, salario)

numero_grande = 1e6  # 1 millón
numero_pequeno = 1e-6  # 0.000001
print(numero_grande, numero_pequeno)

30 3.14 1500.5
1000000.0 1e-06

# Type annotations for numbers

In [11]:
edad: int = 30
pi: float = 3.14
salario: float = 1500.50
print(edad, pi, salario)

30 3.14 1500.5

# Strings

In [13]:
nombre = "Sustantiva"
apellido = 'Academy'
print(nombre, apellido)

Sustantiva Academy

# Type annotation for string

In [14]:
mensaje: str = "Hola, ¿cómo estás?"
print(mensaje)

Hola, ¿cómo estás?

# String concatenation

In [15]:
saludo = "Hola, " + nombre + " " + apellido + "!"
print(saludo)

Hola, Sustantiva Academy!

# f-strings

In [16]:
saludo_fstring = f"Hola, {nombre} {apellido}!"
print(saludo_fstring)

Hola, Sustantiva Academy!

# String methods

In [17]:
print(len(nombre))
print(nombre.upper())
print(nombre.lower())
print(nombre.split('a'))

10
SUSTANTIVA
sustantiva
['Sust', 'ntiv', '']

# Dictionaries

In [20]:
persona = {
    "nombre": "Fulanita",
    "puntaje": 9567,
    "cursoFavorito": {
        "nombre": "Básico de Python",
        "clases": 30,
        "duracion": "2 horas"
    }
}
print(persona)

{'nombre': 'Fulanita', 'puntaje': 9567, 'cursoFavorito': {'nombre': 'Básico de Python', 'clases': 30, 'duracion': '2 horas'}}

# Accessing dictionary elements

In [21]:
print(persona["nombre"])
print(persona["cursoFavorito"]["nombre"])
print(persona["puntaje"])

Fulanita
Básico de Python
9567

# Booleans

In [22]:
curso_completado = True
lectura_completada = False

# Checking data types

In [24]:
print(type("#SustantivaCursoPython"))
print(type(30))
print(type({}))
print(type([]))

<class 'str'>
<class 'int'>
<class 'dict'>
<class 'list'>